<html>
<head>
   <title>Ira's blog</title>
   <link rel='stylesheet' type='text/css' href='index.css'>
   <script src='deps/jquery2.min.js'></script>
   <script src='deps/angular.min.js'></script>

   <script>notInNode = true;</script>
   <script src='common.js'></script>
   <script src='index.js'></script>

   <script src='deps/bootstrap.min.js'></script>
   <link rel="stylesheet" href="deps/bootstrap.min.css">
   <link rel="stylesheet" href="deps/bootstrap-theme.min.css">
</head>
<body ng-app='iraBlog' ng-controller='iraBlog'>


   <ul id='topNav' class="nav nav-tabs">
     <li id='HomeLi' class="active"><a href="#">Home</a></li>
     <li id='GalleryLi'><a href="#">Gallery</a></li>
     <li id='AboutLi'><a href="#">About</a></li>
   </ul>

   <div id='pageHome'>
      <!-- <span class="glyphicon glyphicon-search" aria-hidden="true"></span> -->
      <div id='top-pic-div'>
         <img id='top-pic' src='images/main_top_pic.jpg'></img>
      </div>

      <ul id='tag-list'>
         <img style='border-radius:5px;border-width:2px; border: solid; max-width:600px' src="images/travels.png" width="100%" height="20%" ><br/>visited 24 states (10.6%)<br/><!--<a href="http://douweosinga.com/projects/visited?region=world">Create your own visited map of The World</a> or <a href="https://play.google.com/store/apps/details?id=com.triposo.droidguide.world&hl=en">Triposo world travel guide for Android</a>-->

         <li class='tag-item list-group-item' id='tag-none' ng-click='tagSelect("none")'>
            <a>Show All</a>
         </li>
         <li class='tag-item list-group-item' id='tag-{{name}}'
             ng-repeat='(name, count) in tagCounts' ng-click='tagSelect(name)'>
            <a>{{name}}</a>
            <span class='badge'>{{count}}</span>
         </li>
      </ul>

      <!--<div class='top-panel'>This is a top panel.<div>-->

      <div id='mainpage-content'>
         <!-- Hello and welcome to my website! -->
         <ul ng-if='showSort' id='sortBy' class="nav nav-tabs">
            <li id='sort-type-newest' class='sort-type'>
               <a href="#" ng-click='sortSelect("newest")'>Newest</a>
            </li>
            <li id='sort-type-oldest' class='sort-type'>
               <a href="#" ng-click='sortSelect("oldest")'>Oldest</a>
            </li>
            <li id='sort-type-views' class='sort-type'>
               <a href="#" ng-click='sortSelect("views")'>Most viewed</a>
            </li>
         </ul>

         <div id='blogContentContainer'>
            <div class='post-preview'
                  ng-repeat='x in previewList | orderBy:orderPosts | filter:filterPosts'>
               <!--{{previewList[x]['title']}} -->
               <div>
                  <b>
                     <span class='preview-date'>{{ formatPostDate(x) }}</span>
                     <h3 class='preview-title'>{{ x['title'] }}</h3>
                  </b>
                  <div class='post-tag-list'>
                     <span class='badge' style='margin-right:5px;' ng-repeat='tag in x.tags'>
                        {{tag}}
                     </span>
                  </div>
                  <span class='preview-data'>
                     {{ x.data }}
                  </span>
                  ...
                  <a class='read-more' target='_blank' href='blogEntry?page={{x["date"]}}'>
                     Read more
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div id='pageGallery'>
      TODO: gallery
   </div>

   <div id='pageAbout'>
      <img src='images/misha_ira_wedding.jpg' style='float:right;padding:15px;'/>

      Hello, and welcome to my blog! My name is Iryna, and I'm an awesome mom of 3 kids.</br>

      I like to travel, and learn about cultures of various tribes. I'm very interested in South American culture, and recently visited Peru.

      </br></br>
      This blog was created by my son, and you can find his other stuff <a href='https://github.com/rpasta42' target='_blank'>here</a>.
   </div>

</body>
</html>
